int, 1;
int, 1;
streg, 2;
streg, 1;
int, 20;
streg, 0;
int, 0;
streg, 3;
ldreg, 1;
prnt;

ldreg, 3;
int, 1;
add;
streg, 3;
ldreg, 2;
prnt;
ldreg, 2;
ldreg, 1;
add;
ldreg, 2;
streg, 1;
streg, 2;
ldreg, 3;
ldreg, 0;
lss;
jmpt, 19;
halt;
